#navcolor{
     background-color: #FFEEA9;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#heada {
    font-size: 160%;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
#navbarSupportedContent{
    font-size: 120%;
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #FEFFD2;
}
.img-fluid{
    mix-blend-mode: multiply;
}
#popular1{
    background-image: url('image/iphone17pro.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#carticon{
    padding-right: 3%;
    margin-top: 10px;
}
#p1{
    color: black;
    font-size: 150%;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
#btnlearnmore{
    background-color: #FEDD56;
    font-family: "Numans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#btnlearnmore:hover{
    background-color: #FDEBA3;
}
#learnmore{
    color: black;
}
#iphone, #ipad, #macbook{
    height: 110%;
    background-color: #FEF3C7;
}
#cardmacbook{
    margin-top: 13%;
}
.card-title, .card-text{
    padding-left: 1%;
}
#h2{
    font-size: 200%;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
#h3{
    font-size: 160%;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
#p2{
    margin-top: 10%;
    font-size: 110%;
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.products1, .products2, .products3{
    margin-top: 3%;
}
.products1 .carousel-caption {
    top: 5%;              
    color: black;
}
#h4{
    font-size: 200%;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
#p3{
    font-size: 120%;
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#btnbuy{
    background-color: #FEE00E;
    color: black;
    width: 200px;
}
#btnbuy:hover{
    background-color: #FFF29F;
}
#divproducts{
    height: 330px;
}
#p1img{
    height: auto;
    max-height: 500px;
    object-fit: contain;
    margin-top: 3%;
}
.products2 .carousel-caption {
    top: 5%;              
    color: black;
}
#p2img{
    height: auto;
    max-height: 500px;
    object-fit: contain;
    margin-top: 3%;
}
.products3 .carousel-caption {
    top: 5%;              
    color: black;
}
#p3img{
    height: auto;
    max-height: 500px;
    object-fit: contain;
    margin-top: 3%;
}
#h5{
    font-size: 200%;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
#paymentopt{
    font-size: 130%;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
#list-tab .list-group-item {
    border: none;
    font-weight: 500;
    color: #1d1d1f;
    transition: 0.3s;
}
#list-tab .list-group-item.active {
    background-color: #f5f5f7;
    color: #0071e3;
    border-left: 4px solid #0071e3;
}
.nav-pills .nav-link {
    background: #f5f5f7;
    color: #1d1d1f;
    border: 1px solid #d2d2d7;
}
.nav-pills .nav-link.active {
    background-color: #0071e3 !important;
}



